$buttons-map: (
  red: #ff0000,
  green: #39b54a,
  blue: #0071bc
);

.button {
  display: inline-block;
  padding: 9px 16px 10px 16px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  max-width:  100%;
}

@each $cls, $color in $buttons-map {
  &.#{$cls} {
    min-width: 148px;
    background-color: transparent;
    transition: 0.3s ease background-color, 0.3s ease color;
    border-color: #{$color};

    &:hover {
      color: #FFFFFF;
      background-color: #{$color};
    }
  }
}

.popup {
  text-align: right;
}

.buttonEdit {
  width: 30px;
  height: 30px;
  background: url('./svg/pencil.svg') no-repeat center;
}

.buttonRemove {
  width: 30px;
  height: 30px;
  background: url('./svg/trashcan.svg') no-repeat center;
}
