.editBox {
  max-width: 403px;
}

.buttonBox {
  margin-top: 30px;
}

.label {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 18px;
}

.error {
  margin-top: 5px;
  color: red;
  font-size: 12px;
  line-height: 16px;
  min-height: 16px;
}

.field {
  margin-top: 8px;
  width: 100%;
  display: block;
  border-radius: 3px;
  padding: 9px 16px 15px 16px;
  background: #f2f2f2;
  box-sizing: border-box;
  border: none;
}
