:global {

    $buttons-map: (
        red: #ff0000,
        green: #39b54a,
        blue: #0071bc,
    );

    .button {
        display: inline-block;
        padding: 9px 16px 10px 16px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
        width: 100%;
    }

    .hovered-button {
        background-color: transparent;
        transition: 0.3s ease background-color;

        @each $cls, $color in $buttons-map {
            &.#{$cls} {
                border-color: #{$color};

                &:hover {
                    background-color: #{$color};
                }
            }
        }
    }
}

.appWrapper {
    max-width: 1300px;
    padding: 0 74px;
    margin: 0 auto;
}